/* .qr-image img {
    width: 100%;
    border-radius: 18px;
    margin-top: 35px;
  }

  body {
    display: flex;
    justify-content: center;
    margin: 0%;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 497px;
    padding: 25px;
    text-align: center;
    margin: 10%;
    margin-bottom: 20px;
    border-radius: 28px;
    background-color: hsl(0, 0%, 100%);
  }
  .title-card h1 {
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    margin: 22px 0;
  }

  .text-card p {
    font-size: 19px;
    color: hsl(220, 15%, 55%);
    margin: 0 0px 35px 0px;
  }
   */

/* CSS Reset (you can use a modern CSS reset from Andy Bell or Josh Comeau) */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* size for rem units */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  max-height: 31.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);

}

.card img {
  width: 100%;
  max-width: 100%; 
  border-radius: 15px;
  margin: 0;

}

.card h1 {
  font-size: 1.4rem; 
  color: hsl(218, 44%, 22%);
  margin: 1.375rem 0; 
}

.card p {
  font-size: 1.02rem; 
  color: hsl(220, 15%, 55%);
  margin: 0 0 2.1875rem 0;
}
