.qr-image img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  body {
    display: flex;
    justify-content: center;
    margin: 0%;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 700px;
    padding: 25px;
    text-align: center;
    margin: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }
  .title-card h1 {
    font-size: 35px;
    color: hsl(218, 44%, 22%);
  }
  .text-card p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
  }
  